<digi-layout-block>
	<digi-typography-heading-jumbo
		af-text="Kvittenskomponenten"
	></digi-typography-heading-jumbo>
</digi-layout-block>
<p>Fullbredd med centrerad text</p>
<digi-form-receipt
  af-receipt-text="Tack, din dolores är inskickad!"
  af-variation="fullwidth"
  af-type="center"
></digi-form-receipt>
<p>Fullbredd med vänsterställd text</p>
<digi-form-receipt
  af-receipt-text="Tack, din dolores är inskickad!"
  af-variation="fullwidth"
  af-type="left"
></digi-form-receipt>
<p>Grid med centrerad text</p>
<digi-form-receipt
  af-receipt-text="Tack, din dolores är inskickad!"
  af-variation="grid"
  af-type="center"
></digi-form-receipt>
<p>Grid med vänsterställd text</p>
<digi-form-receipt
  af-receipt-text="Tack, din dolores är inskickad!"
  af-variation="grid"
  af-type="left"
></digi-form-receipt>