@use '../../../global/styles/link';
@use '../../../global/styles/border';

:host {
	--digi--list-link--direction: var(--digi--list-link--direction--override, column);
	--digi--list-link--border: #{border.$list};

	&[af-layout='inline'] {
		--digi--list-link--direction: var(--digi--list-link--direction--override, row);
		--digi--list-link--border: none;
	}
}

.digi-list-link__content {
	display: flex;
	flex-direction: var(--digi--list-link--direction);
}

.digi-list-link__list {
	display: flex;
	flex-direction: var(--digi--list-link--direction);
	flex-wrap: wrap;
	counter-reset: list;
}

.digi-list-link__heading {
	padding: link.$padding-list;

	--FONT-SIZE--HEADING-1: var(--digi--global--typography--font-size--larger);
	--FONT-SIZE--HEADING-2: var(--digi--global--typography--font-size--larger);
	--FONT-SIZE--HEADING-3: var(--digi--global--typography--font-size--larger);
	--FONT-SIZE--HEADING-4: var(--digi--global--typography--font-size--larger);
	--FONT-SIZE--HEADING-5: var(--digi--global--typography--font-size--larger);
	--FONT-SIZE--HEADING-6: var(--digi--global--typography--font-size--larger);
	--LINE-HEIGHT--HEADING-1: var(--LINE-HEIGHT--LINK);
	--LINE-HEIGHT--HEADING-2: var(--LINE-HEIGHT--LINK);
	--LINE-HEIGHT--HEADING-3: var(--LINE-HEIGHT--LINK);
	--LINE-HEIGHT--HEADING-4: var(--LINE-HEIGHT--LINK);
	--LINE-HEIGHT--HEADING-5: var(--LINE-HEIGHT--LINK);
	--LINE-HEIGHT--HEADING-6: var(--LINE-HEIGHT--LINK);

	.digi-list-link--layout-block & {
		padding-block-start: 0;
	}
}

::slotted(li) {
	list-style: none;
	padding: 0;
	margin: 0;

	.digi-list-link--variation-regular & {
		border-block-end: var(--digi--list-link--border);
	}

	a {
		@include link.list;

		.digi-list-link--variation-compact & {
			padding-block: 0;
		}

		.digi-list-link--type-ol & {
			counter-increment: list;

			&::before {
				content: counter(list, upper-alpha);
				margin-inline-end: var(--digi--global--spacing--smaller);
				display: inline-block;
			}
		}
	}
}

.digi-list-link__list {
	list-style: none;
	padding: 0;
	margin: 0;
}
