:host {
	.digi-form-label {
		font-family: var(--digi--global--typography--font-family--default);
		font-size: var(--digi--typography--label--font-size--desktop);
		color: var(--digi--color--text--primary);
		display: flex;
		flex-direction: column;
	}

	.digi-form-label__label {
		&--label {
			font-weight: var(--digi--typography--label--font-weight--desktop);
		}
		&--label, &--description {
			line-height: var(--digi--typography--label--line-height--desktop);
			cursor: pointer;
			display: block;
		}
	}

	.digi-form-label__label-group {
		display: inline-flex;
		align-items: center;
		gap: var(--digi--gutter--icon);
	}

	.digi-form-label__description {
		max-width: var(--digi--paragraph-width--medium);
		line-height: var(--digi--typography--label-description--line-height--desktop);
		font-size: var(--digi--typography--label-description--font-size--desktop);
	}
}
