:host {
	display: block;

	.christmas-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .christmas-header {
    position: relative;
    max-width: 480px;
    text-align: center;
    
    digi-media-image {
      position: absolute;
      right: -50px;
      top: -20px;
      
      @media (max-width: 480px) {
        right: -75px;
      }
    }
    
    h1 {
      color: var(--digi--color--text--secondary);
      font-weight: var(--digi--typography--title-logo--font-weight--desktop); 
    }
    h2 {
      font-size: var(--digi--typography--body--font-size--desktop);
      font-weight: var(--digi--typography--body--font-weight--desktop);
    }
    p {
      
      span {
        margin-top: var(--digi--margin--small);
        display: block;
        color: var(--digi--color--text--secondary);
        font-size: var(--digi--typography--heading-2--font-size--desktop);
        font-weight: var(--digi--typography--heading-2--font-weight--desktop);
      }
    }
  }
  
  .christmas-grid {
    max-width: 300px;
    
    display: grid;
    gap: var(--digi--padding--medium) var(--digi--padding--largest);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    
    digi-media-image {
      display: block;
      max-width: 100%;
      width: 100%;
    }
    
    > div {
      display: grid;
      grid-column: span 3;
      grid-template-columns: subgrid; 
      align-items: center;
      
      h3 {
        margin: 0;
        color: var(--digi--color--text--secondary);
        font-size: var(--digi--typography--heading-2--font-size--desktop);
        font-weight: var(--digi--typography--title-logo--font-weight--desktop); 
        
        span {
          display: block;
          color: var(--digi--color--text--primary);
          font-size: var(--digi--typography--heading-4--font-size--desktop);
          font-weight: var(--digi--typography--body--font-weight--desktop); 
          
        }
      }
      
      div {
        grid-column: 2 / 4;
      }
      
      &:nth-child(odd) {

        digi-media-image {
          order: 3;
        }
        
        div {
          grid-column: 1 / 3;
        }
      }
    }
  }

  .christmas-greeting {
    color: var(--digi--color--text--secondary);
    font-weight: var(--digi--typography--heading-2--font-weight--desktop); 
  }

}
