@use '../../../global/styles/breakpoint';
@use './styles/notification-cookie.variables' as *;
@use './styles/notification-cookie.variations' as variations;

:host {
	@include digi-notification-cookie--variables;
}

.digi-notification-cookie__alert {
	--digi--notification-alert--border-color--info: var(--digi--color--border--secondary);
	--digi--notification-alert--background-color--info: var(--digi--color--background--secondary);
}

.digi-notification-cookie__content {
	display: grid;
	grid-auto-flow: row;
	gap: var(--digi--responsive-grid-gutter);

	@include breakpoint.medium {
		grid-auto-flow: column;
		grid-template-columns: 1fr auto;
	}
}

.digi-notification-cookie__actions {
	display: flex;
	flex-direction: column;
	gap: var(--digi--gutter--icon);

	@include breakpoint.medium {
		flex-direction: row;
	}
}

.digi-notification-cookie__form-controls {
	--digi--form-fieldset--padding: 4px 0;

	> *:not(:last-child) {
		margin-block-end: var(--digi--gutter--large);
	}
}
