@use 'breakpoint';

// Give me a css variable name and I will inject standard grid gutters into it
@mixin gutterify($css-var) {
	#{$css-var}: var(--digi--grid-gutter--smaller);

	@include breakpoint.small {
		#{$css-var}: var(--digi--grid-gutter--small);
	}

	@include breakpoint.medium {
		#{$css-var}: var(--digi--grid-gutter--medium);
	}
}

// Give me a css variable name and I will inject standard outer grid gutters into it
@mixin outer-gutterify($css-var) {
	#{$css-var}: var(--digi--container-gutter--smaller);

	@include breakpoint.small {
		#{$css-var}: var(--digi--container-gutter--small);
	}
	@include breakpoint.medium {
		#{$css-var}: var(--digi--container-gutter--medium);
	}
}

// Give me a column count and a gap and I will create even columns for you
@mixin even-columns($columns, $gap) {
	display: grid;
	gap: #{$gap};
	grid-template-columns: repeat(auto-fit, minmax(calc((100% - #{$gap} * (#{$columns} - 1)) / #{$columns}), 1fr));
}
