@use '../../../global/styles/breakpoint';

.digi-navigation-pagination {
	padding: var(--digi--gutter--largest);
	display: grid;
	grid-template-rows: min-content auto;
	grid-template-areas:
		'result'
		'pagination';

	@include breakpoint.medium {
		gap: var(--digi--gutter--medium);
	}
}

.digi-navigation-pagination__result {
	grid-area: result;

	@include breakpoint.below-medium {
		display: none;
	}
}

.digi-navigation-pagination__pagination {
	grid-area: pagination;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:
		'select'
		'buttons';
	gap: var(--digi--gutter--medium);
	justify-content: space-between;
	align-items: end;

	@include breakpoint.medium {
		grid-template-columns: auto auto;
		grid-template-areas: 'select buttons';
	}
}

.digi-navigation-pagination__buttons {
	grid-area: buttons;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--digi--gutter--icon);
	align-items: center;

	@include breakpoint.medium {
		grid-template-columns: repeat(2, auto);
	}
}

.digi-navigation-pagination__button {
	grid-column: 1;

	&--hidden {
		display: none;
	}

	&:nth-child(2) {
		grid-column: 2;
	}
}

.digi-navigation-pagination__select {
	min-width: 150px;
}

.digi-navigation-pagination__aria-label {
	clip: rect(0 0 0 0);
	height: 1px;
	padding: 0;
	white-space: nowrap;
	width: 1px;
	overflow: hidden;
	position: absolute;
}
