@mixin small() {
	--HEIGHT: var(--digi--form-textarea--height--small);
}

@mixin medium() {
	--HEIGHT: var(--digi--form-textarea--height--medium);
}

@mixin large() {
	--HEIGHT: var(--digi--form-textarea--height--large);
}

@mixin empty {
	--BACKGROUND: var(--digi--form-textarea--background--empty);
}

@mixin neutral() {
	--BORDER: var(--digi--form-textarea--border--neutral);
	--BORDER-COLOR: var(--digi--form-textarea--border-color--neutral);
	--BACKGROUND: var(--digi--form-textarea--background--neutral);
}

@mixin success() {
	--BORDER: var(--digi--form-textarea--border--success);
	--BORDER-COLOR: var(--digi--form-textarea--border-color--success);
	--BACKGROUND: var(--digi--form-textarea--background--success);
}

@mixin warning() {
	--BORDER: var(--digi--form-textarea--border--warning);
	--BORDER-COLOR: var(--digi--form-textarea--border-color--warning);
	--BACKGROUND: var(--digi--form-textarea--background--warning);
}

@mixin error() {
	--BORDER: var(--digi--form-textarea--border--error);
	--BORDER-COLOR: var(--digi--form-textarea--border-color--error);
	--BACKGROUND: var(--digi--form-textarea--background--error);
}
