@use '../../../global/styles/styles-variables' as *;
@use './styles/link.variations' as variations;
@use './styles/link.variables' as *;

:host {
	@include digi-link--variables;

  $base: ".digi-link";

	--COLOR: var(--digi--link--color--default);
  --LINK-TEXT-DECORATION: var(--digi--link--text-decoration--default);

  &#{$base}--variation-small {
    @include variations.small;
  }

  &#{$base}--variation-large {
    @include variations.large;
  }

  &#{$base}--has-icon {
    --LINK-TEXT-DECORATION: var(--digi--link--text-decoration--icon--default);

    &:focus,
    &:hover {
      --digi--link--text-decoration--hover: var(--digi--link--text-decoration--icon--hover);
    }
  }

}

::slotted(a) {

  &:hover {
    cursor: pointer;
  }

  &:focus,
  &:hover {
    --COLOR: var(--digi--link--color--hover);
    --LINK-TEXT-DECORATION: var(--digi--link--text-decoration--hover);
  }

  &:visited {
    --COLOR: var(--digi--link--color--visited);
  }

  font-family: var(--digi--link--font-family);
  font-size: var(--FONT-SIZE);
  font-weight: var(--digi--link--font-weight);
  line-height: var(--digi--link--line-height);
  color: var(--COLOR);
  text-decoration: var(--LINK-TEXT-DECORATION);
  display: inline-flex;
  gap: var(--digi--link--gap);
}

::slotted(a [class*="digi-icon"]),
::slotted(a [slot^='icon']) {
  --digi--icon--color: var(--COLOR);
  --digi--icon--height: 1em;
  --digi--icon--width: 1em;
}
