@use '../../../global/styles/breakpoint';

:host {
	--digi--layout-grid--columns: 4;

	@include breakpoint.medium {
		--digi--layout-grid--columns: 8;
	}

	@include breakpoint.large {
		--digi--layout-grid--columns: 12;
	}

	width: 100%;

	.digi-layout-grid {
		display: grid;
		grid-template-columns: repeat(var(--digi--layout-grid--columns), minmax(0, 1fr));
		grid-column-gap: var(--digi--responsive-grid-gutter);
		grid-row-gap: var(--digi--responsive-grid-gutter);

		&--vertical-spacing-none {
			grid-row-gap: 0;
		}
	}
}
