@import '../../../../../dist/libs/skolverket/dist/digi-skolverket/fonts/src/fonts.css';
@import '../../../../../dist/libs/skolverket/dist/digi-skolverket/digi-skolverket.css';

/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

body {
	min-height: 100vh;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: var(--digi--global--typography--font-family--default);
}

.block-spacer {
	padding: calc(var(--digi--gutter--largest) * 2) 0;

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		&:first-child {
			margin-top: 0;
		}
	}
}

.digi-typography {
	> digi-navigation-toc {
		display: block;
		padding-block-start: var(--MARGIN--BODY);
		margin-block-end: calc(var(--MARGIN--BODY) * 2);
	}

	h2:not(:first-child) {
		margin-top: 2rem;
	}
}
