@use '../../../global/styles/styles-variables' as *;
@use '../../../global/styles/utilities' as *;
@use './styles/layout-container.variables' as *;

:host {
	@include digi-layout-container--variables;

	.digi-layout-container {
		box-sizing: border-box;
		width: 100%;
		max-width: var(--digi--layout-container--width);
		padding: var(--digi--layout-container--vertical-padding) var(--digi--layout-container--gutter);
		margin-left: auto;
		margin-right: auto;
		margin-top: var(--digi--layout-container--margin-top);
		margin-bottom: var(--digi--layout-container--margin-bottom);
		box-sizing: border-box;

		@media (min-width: $digi--breakpoint--small) {
			--digi--layout-container--width: var(--digi--container-width--small);
			--digi--layout-container--gutter: var(--digi--container-gutter--small);
		}
		@media (min-width: $digi--breakpoint--medium) {
			--digi--layout-container--width: var(--digi--container-width--medium);
			--digi--layout-container--gutter: var(--digi--container-gutter--medium);
		}
		@media (min-width: $digi--breakpoint--large) {
			--digi--layout-container--width: var(--digi--container-width--large);
			--digi--layout-container--gutter: var(--digi--container-gutter--large);
		}
		@media (min-width: $digi--breakpoint--x-large) {
			--digi--layout-container--width: var(--digi--container-width--larger);
			--digi--layout-container--gutter: var(--digi--container-gutter--larger);
		}
		@media (min-width: $digi--breakpoint--xx-large) {
			--digi--layout-container--width: var(--digi--container-width--largest);
			--digi--layout-container--gutter: var(--digi--container-gutter--largest);
		}

		&--fluid {
			--digi--layout-container--width: none !important;
		}

		&--no-gutter {
			--digi--layout-container--gutter: 0;
		}

		&--vertical-padding {
			--digi--layout-container--vertical-padding: var(--digi--padding--large);
		}

		&--margin-top {
			--digi--layout-container--margin-top: var(--digi--margin--large);
		}

		&--margin-bottom {
			--digi--layout-container--margin-bottom: var(--digi--margin--large);
		}
	}
}
