@mixin variation-info {
	--BORDER-COLOR: var(--digi--notification-detail--border-color--info);
	--ICON-COLOR: var(--digi--notification-detail--border-color--info);
}

@mixin variation-warning {
	--BORDER-COLOR: var(--digi--notification-detail--border-color--warning);
	--ICON-COLOR: var(--digi--notification-detail--border-color--warning);
}

@mixin variation-danger {
	--BORDER-COLOR: var(--digi--notification-detail--border-color--danger);
	--ICON-COLOR: var(--digi--notification-detail--border-color--danger);
}
