@mixin header {
  --WIDTH: 50%;
  --HEIGHT: var(--digi--loader-skeleton--header-height);
  --MARGIN-BOTTOM: var(--digi--loader-skeleton--header-margin);
}

@mixin line {
  --WIDTH: 100%;
  --HEIGHT: var(--digi--loader-skeleton--line-height);
  --MARGIN-BOTTOM: var(--digi--loader--skeleton--line-margin-bottom);
}

@mixin circle{
--MARGIN-BOTTOM: var(--digi--loader-skeleton--text-margin);
--WIDTH: var(--digi--loader-skeleton--circle-width);
--HEIGHT: var(--digi--loader-skeleton--circle-height);
--BORDER-RADIUS: var(--digi--loader-skeleton--circle-border-radius);
}

@mixin text{
  --HEIGHT: var(--digi--loader-skeleton--text-height);
  --MARGIN: var(--digi--loader-skeleton--text-margin);
  --MARGIN-BOTTOM: var(--digi--loader-skeleton--text-margin);
  &:last-child{
    --WIDTH: 75%;
  }

}

@mixin rounded {
  --BORDER-RADIUS: var(--digi--loader-skeleton--rounded-border-radius);
  --HEIGHT: var(--digi--loader-skeleton--header-height);
  --WIDTH: 25%;
}