@use "../global/styles-variables" as *;


.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  height: 100%;
}

.main {
  & ::ng-deep > .digi-layout-container {
    height: 100%;
  }

  &__layout {
    display: flex;
    height: 100%;
  }
}

.main__aside {
  flex: 0 0 100%;

  @media screen and (max-width: $digi--breakpoint--medium-below) {
    position: absolute;
  }

  &--hidden {
    display: none;
  }

  &--default {

    @media screen and (min-width: $digi--breakpoint--medium) {
      border-right: var(--digi--border-width--primary) solid var(--digi--color--border--neutral-2);
      padding-top: var(--digi--padding--larger);
      padding-bottom: var(--digi--padding--larger);
      max-width: 300px;
    }
  }

  &--intranet {

    @media screen and (min-width: $digi--breakpoint--medium) {
      max-width: 300px;
    }

    @media screen and (min-width: $digi--breakpoint--x-large) {
      padding-top: var(--digi--padding--larger);
      padding-bottom: var(--digi--padding--larger);
      max-width: 400px;
    }
  }

  &--external {

    @media screen and (min-width: $digi--breakpoint--medium) {
      max-width: 300px;
    }

    @media screen and (min-width: $digi--breakpoint--medium) {
      flex-basis: 0;
      max-width: 360px;
    }
  }
}

.main__content {
  width: 100%;
}

.nav-form {
  position: fixed;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: var(--digi--padding--medium);
  background: white;
  padding: var(--digi--padding--medium);
  bottom: var(--digi--padding--medium);
  right: var(--digi--padding--medium);
  box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
  z-index: 999;
}