:host {
	display: block;

	/*.digi-docs-about-design-pattern-button {

  }*/
	.pattern_mobile {
		margin-bottom: 30px;
		margin-top: 40px;
		background-color: white;
		padding: var(--digi--padding--largest-3);
	}
}
.pattern_mobile_button {
	margin-top: var(--digi--margin--large);
	padding-bottom: var(--digi--padding--small);
	margin-left: var(--digi--margin--large);
	margin-right: var(--digi--margin--large);

	padding-bottom: var(--digi--padding--small);
	digi-button {
		--digi--button--width: 100%;
		--digi--button--text-align: center;

		margin-top: var(--digi--margin--medium);
		display: block;
	}
}
.buttons_wrapper {
	padding: 12px;
}
.pattern_button_container {
	margin-top: 15%;
	margin-left: var(--digi--margin--large);
	display: flex;
	flex-direction: row;
}
.pattern_button_header_wrapper {
	margin-left: var(--digi--margin--large);
}

 
// .pattern_image_wrapper{
// 	max-width:fit-content;
// 	// digi-media-image{
// 	// 	--digi--button--width: 100%;
// 	// 	--digi--button--text-align: center;

// 	// 	margin-top: var(--digi--margin--medium);
// 	// 	display: block;
// 	// }

// }