@use '../../../global/styles/styles-variables' as *;
@use './styles/footer.variables' as *;

:host {
	@include digi-footer--variables;
	$base: '.digi-footer';

	.digi-footer {
		--MARGIN-TOP: var(--digi--footer--margin-top);
		color: var(--digi--footer--text--color);
		font-family: var(--digi--footer--text--font-family);
		font-size: var(--digi--footer--text--font-size);
		font-weight: var(--digi--footer--text--font-weight);
		line-height: normal;

		::slotted([slot^='content-top']) {
			grid-template-columns: repeat(1, 1fr);
		}

		@media (min-width: $digi--breakpoint--large) {
			::slotted([slot^='content-top']) {
				grid-template-columns: repeat(4, 1fr);
			}
      
			&--small {
				::slotted([slot^='content-top'])>*:first-child {
					grid-column: 1 / 3;
				}
			}
		}


    ::slotted([slot^='content-top']) {

      @container (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
      }
    }

		&__content-top {
      container-type: inline-size;
			padding-top: var(--digi--footer--padding-top);
		}

		&__content-bottom {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding: var(--digi--footer--padding-top) 0;

      @media (max-width: $digi--breakpoint--large-below) {
        justify-content: center;
      }

      @container (max-width: 600px) {
        justify-content: center;
      }
		}
	}

	::slotted(* digi-logo) {
		--digi--logo--padding--large--wide: 0;
	}

	::slotted([slot^='content-top']) {
		display: grid;
		grid-template-rows: repeat(2, auto);
		column-gap: var(--digi--gutter--largest);
	}

	::slotted([slot^='content-bottom-right']) {
		display: flex;
		align-items: flex-end;
		flex-wrap: wrap;
		justify-content: center;
		margin-top: var(--MARGIN-TOP);

		@media (min-width: $digi--breakpoint--large) {
			--MARGIN-TOP: 0;
		}

		p,
		span,
		a {
			color: var(--digi--footer--text--color);
			padding: var(--digi--gutter--small);
			margin: 0;

      @media (min-width: $digi--breakpoint--large) {
        padding: var(--digi--gutter--largest-2) var(--digi--gutter--small);
      }
		}

		a {
			color: var(--digi--footer--link--color--default);
			border-color: var(--digi--footer--link--border-color--default);
			margin: 0;

			&:visited {
				color: var(--digi--footer--link--color--default);
			}

			&:hover,
			&:focus,
			&:active {
				background: transparent;
				color: var(--digi--footer--link--color--hover);
				border-color: var(--digi--footer--link--border-color--hover);
			}
		}
	}
}