@use '../../../global/styles/utilities' as *;
@use '../../../global/styles/styles-variables' as *;
@use './styles/header-avatar.variables' as *;

:host {
	@include digi-header-avatar--variables;
	display: block;
	$base: '.digi-header-avatar';

	#{$base} {
		display: flex;
		align-items: center;
		font-family: var(--digi--header-avatar--font-family);
		color: var(--digi--header-avatar--color);
		font-weight: var(--digi--typography--title-logo--font-weight--desktop);
		font-size: var(--digi--header--font-size);

		&__image {
			display: block;
			height: 32px;
		}

		&__image * img {
			border-radius: 100%;
		}

		&__placeholder {
			background: #ddd;
			border-radius: 100%;
			height: 32px;
			width: 32px;
			display: flex;
			justify-content: center;
			margin-left: var(--digi--header-avatar--margin);
		}

		&__name,
		&__signature{
			margin-left: var(--digi--header-avatar--margin);
		}
	}
	::slotted(*) {
		margin-left: var(--digi--header-avatar--margin);
	}
}

::slotted(* img) {
	border-radius: 100%;
}